.addCar {
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}

.createCar {
    width:80px;
}

.updateCarText {
    width:80px;
    /* border: 0; */
    padding: 2px 5px;
    margin: 5px 2px;
    text-align: center;
}

.updateButtons {
    padding: 2px 5px;
    text-align: center;
}