<h2>Admin</h2>
<label>Search Column
    <select [(ngModel)]="searchColumn">
        <option *ngFor="let o of columnOptions">
            {{o.name}}
        </option>
    </select>
</label>

<label>Search
    <input type="text" [(ngModel)]="searchValue" (keyup)="getFilteredCars()">
</label>

<label>Order By
    <select [(ngModel)]="orderByOption" (change)="order()">
        <option *ngFor="let o of columnOptions">
            {{o.name}}
        </option>
    </select>
</label>

<!-- <nav class="addCar"><a routerLink="/addCar">Add Car</a></nav> -->

<button (click)="showAddCar()">Add Car</button>
<form *ngIf="addCar === true" [formGroup]="addCarForm" (ngSubmit)="addNewCarFormSubmit()"><table>
    <tr>
        <td>Year <input class="createCar" type="text" formControlName="newCarYear"></td>
        <td>Make <input class="createCar" type="text" formControlName="newCarMake"></td>
        <td>Model <input class="createCar" type="text" formControlName="newCarModel"></td>
        <td>Type <input class="createCar" type="text" formControlName="newCarType"></td>
        <td>Color <input class="createCar" type="text" formControlName="newCarColor"></td>
        <td><input type="submit" value="Add Car"> <input type="button" value="Close" (click)="closeAddCar()"></td>
    </tr>
</table></form>

<form [formGroup]="updateCarForm">
<table border="1">
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Type</th>
        <th>Color</th>
    </tr>

    <ng-container *ngFor="let car of cars">
        
        <tr *ngIf="showUpdateCarId !== car.id; else updateCarTemplate">
            <td>{{car.year}}</td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.type}}</td>
            <td>{{car.color}}</td>
            <input type="button" value="Update" class="updateButton" (click)="showUpdateCar(car.id)">
        </tr>

        <ng-template #updateCarTemplate>
        <tr>
            <td><input type="text" class="updateCar" formControlName="updateYear" value="{{car.year}}" ></td>
            <td><input type="text" class="updateCar" formControlName="updateMake" value="{{car.make}}"></td>
            <td><input type="text" class="updateCar" formControlName="updateModel" value="{{car.model}}"></td>
            <td><input type="text" class="updateCar" formControlName="updateType" value="{{car.type}}"></td>
            <td><input type="text" class="updateCar" formControlName="updateColor" value="{{car.color}}"></td>
            <input type="button" value="Confirm" (click)="updateCar(car.id)">
            <input type="reset" value="Cancel" (click)="closeUpdateCar()">
        </tr>
        </ng-template>

    </ng-container>
</table>
</form>






<!-- <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.company.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->